
IDD_MAIN_DLG DIALOGEX 0, 0, 451, 235
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tabbed Dialog Box"
FONT 8, "MS Shell Dlg", 0, 0, 0x0

